.footer{
  background-color: black;
  font-family: 'Baloo 2', cursive;

  h4{
    color: chartreuse;
  }
  p{
    color: #e0f735;
    font-size: 1.15em;

  }
  .footer-links{
    font-size: 1.15em;
    color: #e0f735;
  }



}
