.footer{
  background-color: black;

  h4{
    color: chartreuse;
  }
  p{
    color: #e0f735;
    font-family: 'Baloo 2', cursive;
  }
  .footer-links{
    font-family: 'Baloo 2', cursive;
    font-size: 1em;
    color: #e0f735;
  }



}
