<div class="container-fluid reg-container py-5">
  <div class="col-sm-8 offset-2">
    <form class="needs-validation reg-form rounded px-4 pt-3" novalidate #userForm="ngForm" (ngSubmit)="onSave()">
      <div class="form-row" ngModelGroup="user_details">

        <div class="col-md-6 mb-3">
          <label for="validationCustom01" class="col-form-label ">First name</label>
          <div class="col-12 input-group p-0">
            <input type="text" class="form-control" id="validationCustom01" #fist_name='ngModel'
                   [class.is-invalid]="fist_name.invalid && fist_name.touched" required name="first_name"
                   [disabled]="!isEditClick" [(ngModel)]="userModel.firstName">
            <div class="input-group-append">
              <i class="bi bi-pencil input-group-text"></i>
            </div>
          </div>
          <div>
            <small class="text-danger " [class.d-none]="fist_name.untouched || fist_name.valid">First name is
              required</small>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="validationCustom02" class="col-form-label">Last name</label>
          <div class="col-12 input-group p-0">
            <input type="text" class="form-control" id="validationCustom02" #last_name='ngModel'
                   [class.is-invalid]="last_name.touched && last_name.invalid" required name="last_name"
                   [disabled]="!isEditClick" [(ngModel)]="userModel.lastName">
            <div class="input-group-append">
              <i class="bi bi-pencil input-group-text"></i>
            </div>
          </div>
          <div>
            <small class="text-danger " [class.d-none]="last_name.untouched || last_name.valid">Last name is
              required</small>
          </div>
        </div>

        <div class="form-row">

          <div class="col-md-6 mb-3">
            <label for="validationCustom03" class="col-form-label">City</label>
            <div class="col-12 input-group p-0">
              <input type="text" class="form-control" id="validationCustom03" #city='ngModel'
                     [class.is-invalid]="city.touched && city.invalid" required name="city" [disabled]="!isEditClick"
                     [(ngModel)]="userModel.city">
              <div class="input-group-append">
                <i class="bi bi-pencil input-group-text"></i>
              </div>
            </div>
            <div class>
              <small class="text-danger " [class.d-none]="city.untouched || city.valid">Required</small>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationCustom04" class="col-form-label">Province</label>
            <div class="col-12 input-group p-0">
              <select (blur)="validateProvince(province.value)" (change)="validateProvince(province.value)"
                      class="custom-select" id="validationCustom04" required #province='ngModel'
                      [class.is-invalid]="province.touched && provinceHasError" name="province"
                      [disabled]="!isEditClick" [(ngModel)]="userModel.province">
                <option value="default">Choose...</option>
                <option *ngFor="let province of provinces">{{province}}</option>
              </select>
              <div class="input-group-append">
                <i class="bi bi-pencil input-group-text"></i>
              </div>
            </div>
            <div>
              <small class="text-danger " [class.d-none]="province.untouched || province.valid">Required</small>
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationCustom05" class="col-form-label">Zip</label>
            <div class="col-12 input-group p-0">
              <input type="number" class="form-control" id="validationCustom05" name="zip" [(ngModel)]="userModel.zip"
                     [disabled]="!isEditClick">
              <div class="input-group-append">
                <i class="bi bi-pencil input-group-text"></i>
              </div>
            </div>
          </div>

          <div class="form-row">

            <div class="col-sm-12  mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Address</label>
              <div class="col-12 input-group p-0">
              <textarea class="form-control is-invalid" id="exampleFormControlTextarea1" rows="3"
                        required [class.is-invalid]="address.touched && address.invalid" name="address"
                        [disabled]="!isEditClick" #address='ngModel' [(ngModel)]="userModel.address"></textarea>
                <div class="input-group-append">
                  <i class="bi bi-pencil input-group-text"></i>
                </div>
              </div>
              <div>
                <small class="text-danger " [class.d-none]="address.untouched || address.valid">Required</small>
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Email</label>
              <div class="col-12 input-group p-0">
                <input type="email" class="form-control" placeholder="" name="email" required
                       [class.is-invalid]="email.touched && email.invalid" #email='ngModel' [disabled]="!isEditClick"
                       [(ngModel)]="userModel.email">
                <div class="input-group-append">
                  <i class="bi bi-pencil input-group-text"></i>
                </div>
              </div>
              <div>
                <small class="text-danger " [class.d-none]="email.untouched || email.valid">Required</small>
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Telephone</label>
              <div class="col-12 input-group p-0">
                <input type="number" class="form-control" #phone='ngModel' name="tel" [(ngModel)]="userModel.telephone"
                       required [class.is-invalid]=" phone.invalid && phone.touched" [disabled]="!isEditClick">
                <div class="input-group-append">
                  <i class="bi bi-pencil input-group-text"></i>
                </div>
              </div>
              <div>
                <small class="text-danger " [class.d-none]="phone.untouched || phone.valid">Required</small>
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">National ID</label>
              <div class="col-12 input-group p-0">
                <input type="text" class="form-control is-invalid" required name="nationalID"
                       [class.is-invalid]="Id.touched && Id.invalid" #Id='ngModel' [(ngModel)]="userModel.nationalId"
                       [disabled]="!isEditClick">
                <div class="input-group-append">
                  <i class="bi bi-pencil input-group-text"></i>
                </div>
              </div>
              <div>
                <small class="text-danger " [class.d-none]="Id.untouched || Id.valid">Required</small>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="invalidCheck" name="agree" #agree='ngModel' required
                 [class.is-invalid]="agree.invalid && agree.touched" ngModel [disabled]="!isEditClick">
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button class="btn btn-success mb-2 px-4" type="button" [class.d-none]="isEditClick"
              (click)="onEdit()">
        Edit
      </button>
      <button class="btn btn-primary mb-2 " [disabled]="userForm.form.invalid || provinceHasError" type="submit"
              [class.d-none]="!isEditClick">Save
      </button>
    </form>
  </div>
</div>

