<div class="container-fluid user-interface py-5">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card-deck">

        <div class="card" (click)="onClick('/user_details')">
          <img src="../../assets/images/user-interface/user.gif" class="card-img-top" alt="...">
          <div class="card-footer text-center">User Details</div>
        </div>
        <div class="card">
          <img src="../../assets/images/user-interface/watch.gif" class="card-img-top" alt="...">
          <div class="card-footer text-center ">Service History</div>
        </div>
        <div class="card" (click)="onClick('/qr')">
          <img src="../../assets/images/user-interface/qr.gif" class="card-img-top" alt="...">
          <div class="card-footer text-center ">Your QR code</div>
        </div>
        <div class="card">
          <img src="../../assets/images/user-interface/bookings.gif" class="card-img-top" alt="..." routerLink="/booking">
          <div class="card-footer text-center ">Bookings</div>
        </div>
        <div class="card" (click)="onClick('/vehi_list')">
          <img src="../../assets/images/user-interface/vehicles.gif" class="card-img-top" alt="...">
          <div class="card-footer text-center ">Reg Vehicles</div>
        </div>
      </div>
    </div>
  </div>
</div>
