<div class="container-fluid home-container py-5">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">ADAPTATION</h2>
          <p>We are always working hard to broaden our horizons while being on par with global technologies.
            Come what may, we are always geared to provide the best service without compromising on quality or value for
            money.</p>
        </div>
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">HONESTY</h2>
          <p>Honesty is an integral part of our culture and if defines our conduct, as we believe that there no legacy
            that is as rich as honesty.</p>
        </div>
        <div class="col-4">
          <img src="../../../assets/engine.png" class="img-fluid">
        </div>
      </div>
      <div class="row">
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">SIMPLICITY</h2>
          <p>We believe that greatness begins with simplicity and honesty.</p>
        </div>
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">POSITIVE ATTITUDE</h2>
          <p>Our aim is to continuously be a part of the lifestyles of our customers, making a positive impact
            on the society. Anything is possible if you put your mind to it.</p>
        </div>
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">DETERMINATION</h2>
          <p>We refuse to be waived by changing times and circumstances. We will face every challenge head on,
            to achieve our goals and to better your future.</p>
        </div>
      </div>
    </div>
  </div>
</div>
