.booking-container{
  background-image: url("../../assets/images/booking-form-images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_details{
  border: 1px solid black ;
}
