<div class="container-fluid booking-container py-5">
  <div class="col-lg-8 offset-lg-2">
    <form class="needs-validation rounded px-4 pt-3" #booking_form="ngForm">
      <div class="form-row">
        <div class="col-4">
          <h4>Customer name :</h4>
        </div>
        <div class="col">
          <h4>Ovindu Archana</h4>
        </div>
      </div>
      <div class="form-row">
        <div class="col-4">
          <h4>Telephone Number :</h4>
        </div>
        <div class="col-3">
          <h4>0713145998</h4>
        </div>
      </div>

      <div class="form-row mt-3">

        <div class="col-8 col-lg-6 card_details p-3 rounded">
          <label for="card_name" class="col-form-label">Name on Card</label>
          <input type="name" id="card_name" class="form-control" name="cardName"
                 [class.is-invalid]="cardName.touched && cardName.invalid" required #cardName='ngModel' ngModel>
          <div>
            <small class="text-danger " [class.d-none]="cardName.untouched || cardName.valid">Required</small>
          </div>

          <label class="col-form-label">Card Number</label>
          <div class="form-row mb-3">
            <div class="col">
              <input type="text" class="form-control" name="cardN0_feild1" required #cardN0_feild1='ngModel' ngModel
                     [class.is-invalid]="(cardN0_feild1.touched && cardN0_feild1.invalid) ||
                     (cardN0_feild2.touched && cardN0_feild2.invalid) || (cardN0_feild4.touched && cardN0_feild4.invalid)
                     || (cardN0_feild3.touched && cardN0_feild3.invalid)" (keypress)="OnlyNumberAccept($event)"
                     maxlength="4">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="cardN0_feild2" required #cardN0_feild2='ngModel' ngModel
                     [class.is-invalid]="(cardN0_feild1.touched && cardN0_feild1.invalid) ||
                     (cardN0_feild2.touched && cardN0_feild2.invalid) || (cardN0_feild4.touched && cardN0_feild4.invalid)
                     || (cardN0_feild3.touched && cardN0_feild3.invalid)" (keypress)="OnlyNumberAccept($event)"
                     maxlength="4">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="cardN0_feild3" required #cardN0_feild3='ngModel' ngModel
                     [class.is-invalid]="(cardN0_feild1.touched && cardN0_feild1.invalid) ||
                     (cardN0_feild2.touched && cardN0_feild2.invalid) || (cardN0_feild4.touched && cardN0_feild4.invalid)
                     || (cardN0_feild3.touched && cardN0_feild3.invalid)" (keypress)="OnlyNumberAccept($event)"
                     maxlength="4">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="cardN0_feild4" required #cardN0_feild4='ngModel' ngModel
                     [class.is-invalid]="(cardN0_feild1.touched && cardN0_feild1.invalid) ||
                     (cardN0_feild2.touched && cardN0_feild2.invalid) || (cardN0_feild4.touched && cardN0_feild4.invalid)
                     || (cardN0_feild3.touched && cardN0_feild3.invalid)" (keypress)="OnlyNumberAccept($event)"
                     maxlength="4">
            </div>
            <div class="col-12">
              <small class="text-danger " [class.d-none]="(cardN0_feild1.untouched || cardN0_feild1.valid) &&
              (cardN0_feild2.untouched || cardN0_feild2.valid )&&( cardN0_feild3.untouched || cardN0_feild3.valid)&&
               (cardN0_feild4.untouched || cardN0_feild4.valid)">Required</small>
            </div>
          </div>

          <div class="form-row">
            <div class="col-5">
              <label class="col-form-label">Expiry date</label>
              <input type="month" class="form-control" name="cardExp" required #cardExp='ngModel'
                     [class.is-invalid]="cardExp.touched && cardExp.invalid" ngModel>
              <div class="col-12 p-0" [class.d-none]="cardExp.untouched || cardExp.valid">
                <small class="text-danger">Required</small>
              </div>
            </div>

            <div class="col-3">
              <label class="col-form-label">CV Code</label>
              <input type="text" class="form-control " name="cardCV" required #cardCV='ngModel'
                     [class.is-invalid]="cardCV.touched && cardCV.invalid" ngModel (keypress)="OnlyNumberAccept($event)"
                     maxlength="3">
              <div class="col-12 p-0">
                <small class="text-danger" [class.d-none]="cardCV.untouched || cardCV.valid">Required</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <img src="../../assets/images/booking-form-images/master.png" class="img-fluid ml-5">
        </div>
      </div>
      <div class="col-12 p-0 my-3">
        <h4 class="price">Price 1500</h4>
      </div>
      <button class="btn btn-primary mb-2 " type="submit">Confirm booking</button>
    </form>
  </div>
</div>
