<div class="col scanner  border rounded" [class.d-none]="scanButtonClick">
  <qr-scanner
    [debug]="false"
    [canvasWidth]="100"
    [canvasHeight]="100"
    [stopAfterScan]="true"
    [updateTime]="500">
  </qr-scanner>
</div>
<div class="col scan border rounded  " [class.d-none]="!scanButtonClick">
</div>
<div class="col  text-center">
  <button type="button" (click)="isScanButtonClick()" class="btn btn-info px-5 my-3">Scan</button>
  <h5 class="text-center text-md-left border-bottom border-dark pt-5 pb-2">Scan the QR code get your account
    link</h5>
  <p class="text-md-left">
    <a (click)="onClickLink()" [class.d-none]="accountLink==''">http://localhost:4200/{{accountLink}}</a>
  </p>
</div>


