.vehi_container {
  .card-background {
    background-image: url("../../assets/ffff.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .card-text {
    font-size: 1vw;
  }

}
