<div class="container-fluid vehi_container py-5">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row">

        <div class="col-3 col-md-4" *ngFor="let vehicle of vehicles">
          <div class="card mb-3" style="max-width: 540px;" routerLink="/vehi_details">
            <div class="row no-gutters">
              <div class="col-md-4 card-background">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5>Reg No: {{vehicle.reg_no}}</h5>
                  <h5>Chassis No:<br>{{vehicle.chassis_no}}</h5>
                  <h5>Engine No:<br>{{vehicle.engi_no}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-3 col-md-4">
          <div class="card border-0" (click)="onClick()" style="width: 10rem;">
            <img src="assets/add.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Add</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
