<div class="container-fluid reg-container py-5">
  <div class="col-sm-8 offset-2">
    <form class="needs-validation reg-form rounded px-4 pt-3" novalidate #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-row" ngModelGroup="user_details">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01" class="col-form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" #fist_name='ngModel'
                 [class.is-invalid]="fist_name.invalid && fist_name.touched" value="" required name="first_name"
                 [(ngModel)]="userModel.firstName">
          <div class="invalid-feedback">
            First name is required
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02" class="col-form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" #last_name='ngModel'
                 [class.is-invalid]="last_name.touched && last_name.invalid" required name="last_name"
                 [(ngModel)]="userModel.lastName">
          <div class="invalid-feedback">
            Last name is required
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationCustom03" class="col-form-label">City</label>
            <input type="text" class="form-control" id="validationCustom03" #city='ngModel'
                   [class.is-invalid]="city.touched && city.invalid" required name="city" [(ngModel)]="userModel.city">
            <div class="invalid-feedback">
              City is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationCustom04" class="col-form-label">Province</label>
            <select (blur)="validateProvince(province.value)" (change)="validateProvince(province.value)"
                    class="custom-select" id="validationCustom04" required #province='ngModel'
                    [class.is-invalid]="province.touched && provinceHasError" name="province"
                    [(ngModel)]="userModel.province">
              <option value="default">Choose...</option>
              <option *ngFor="let province of provinces">{{province}}</option>
            </select>
            <div class="invalid-feedback">
              Province is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationCustom05" class="col-form-label">Zip</label>
            <input type="number" class="form-control" id="validationCustom05" name="zip" [(ngModel)]="userModel.zip">
          </div>
          <div class="form-row">
            <div class="col-sm-12  mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Address</label>
              <textarea class="form-control is-invalid" id="exampleFormControlTextarea1" rows="3"
                        required [class.is-invalid]="address.touched && address.invalid" name="address"
                        #address='ngModel'
                        [(ngModel)]="userModel.address"></textarea>
              <div class="invalid-feedback">
                Address is required
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Email</label>
              <input type="email" class="form-control" placeholder="" name="email" required
                     [class.is-invalid]="email.touched && email.invalid" #email='ngModel' [(ngModel)]="userModel.email">
              <div class="invalid-feedback">
                Email is required
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">Telephone</label>
              <input type="number" class="form-control" #phone='ngModel' name="tel" [(ngModel)]="userModel.telephone"
                     required
                     [class.is-invalid]=" phone.invalid && phone.touched ">
              <div class="invalid-feedback">
                Required
              </div>
            </div>

            <div class="col mb-3">
              <label for="exampleFormControlTextarea1" class="col-form-label">National ID</label>
              <input type="text" class="form-control is-invalid" required name="nationalID"
                     [class.is-invalid]="Id.touched && Id.invalid" #Id='ngModel' [(ngModel)]="userModel.nationalId">
              <div class="invalid-feedback">
                ID is required
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="form-group" ngModelGroup="vehicle_details">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Vehicle make</label>
            <input type="text" class="form-control" placeholder="" name="vehicelMake" required #make='ngModel'
                   [class.is-invalid]="make.touched && make.invalid" [(ngModel)]="vehicleModel.vehiMake">
            <div class="invalid-feedback">
              Vehecle make is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Vehicle model</label>
            <input type="text" class="form-control" placeholder="" name="vehicleModel" #model='ngModel' required
                   [class.is-invalid]="model.touched && model.invalid" [(ngModel)]="vehicleModel.vehiModel">
            <div class="invalid-feedback">
              Vehicle model
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Chassis number</label>
            <input type="text" class="form-control" placeholder="" name="chass_no" #chassis='ngModel' required
                   [class.is-invalid]="chassis.touched && chassis.invalid" [(ngModel)]="vehicleModel.chassisNo">
            <div class="invalid-feedback">
              Chassis number
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Engine number</label>
            <input type="text" class="form-control" placeholder="" name="engi_no" #engi_no='ngModel' required
                   [class.is-invalid]="engi_no.touched && engi_no.invalid" [(ngModel)]="vehicleModel.engiNo">
            <div class="invalid-feedback">
              Engine number is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Body colour</label>
            <input type="text" class="form-control" placeholder="" name="body_color" #color='ngModel' required
                   [class.is-invalid]="color.touched && color.invalid" ngModel>
            <div class="invalid-feedback">
              Body colour is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Date of registration</label>
            <input type="date" class="form-control" placeholder="" name="date_of_regi" #regi_date='ngModel' required
                   [class.is-invalid]="regi_date.touched && regi_date.invalid" [(ngModel)]="vehicleModel.regDate">
            <div class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Registration number</label>
            <input type="text" class="form-control" placeholder="" name="reg_no" #regi_no='ngModel' required
                   [class.is-invalid]="regi_no.touched && regi_no.invalid" [(ngModel)]="vehicleModel.regNo">
            <div class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Odometer reading at the delevery</label>
            <input type="text" class="form-control" placeholder="" name="odo_read" #odo_read='ngModel' required
                   [class.is-invalid]="odo_read.touched && odo_read.invalid" [(ngModel)]="vehicleModel.odoRead">
            <div class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Year of Manufacture</label>
            <input type="number" class="form-control" placeholder="" name="year_manu" #yr_manu='ngModel' required
                   [class.is-invalid]="yr_manu.touched && yr_manu.invalid" [(ngModel)]="vehicleModel.yrManu">
            <div class="invalid-feedback">
              Required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="exampleFormControlTextarea1" class="col-form-label">Fuel Type</label>
            <input type="text" class="form-control" placeholder="" name="fuel_type" #fuel_type='ngModel' required
                   [class.is-invalid]="fuel_type.touched && fuel_type.invalid" [(ngModel)]="vehicleModel.fuelType">
            <div class="invalid-feedback">
              Required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">

          <input class="form-check-input" type="checkbox" id="invalidCheck" name="agree" #agree='ngModel' required
                 [class.is-invalid]="agree.invalid && agree.touched" ngModel>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button class="btn btn-primary mb-2 " [disabled]="userForm.form.invalid || provinceHasError" type="submit">Submit
        form
      </button>
    </form>
  </div>
</div>



