.col-form-label{
  font-family: 'Baloo 2', cursive;
  font-size: 1.2em;

}
.reg-container{
  background-image: url("../../assets/images/form-bg-images/form-bg.jpg");


}
.reg-form{
  background: white;
}
