<div class="container-fluid home-container py-5">
  <div class="row">
    <div class="col-10 offset-1">
     <div class="row">
       <div class="col-4 title">
         <h2 class="py-4 font-weight-bold">WHO WE ARE</h2>
         <p>The VMMS was introduced by VMMS sri lanka, a decade ago, to address the dearth of after sales service
           providers for automobiles that are imported to Sri Lanka by independent vehicle importers.</p>
       </div>
       <div class="col-4 title">
         <h2 class="py-4 font-weight-bold">WHAT WE DO</h2>
         <p>A regular service schedule can help keep your car running its best. For your convenience, VMMS has
           developed a service interval schedule to help you keep track of regular maintenance.</p>
       </div>
       <div class="col-4">
          <img src="assets/engine.png" class="img-fluid">
       </div>
     </div>
      <div class="row">
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">VISION</h2>
          <p>To be the best and the most trusted vehicle supplier and aftercare service provider in Sri Lanka.</p>
        </div>
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">MISSION</h2>
          <p>Driven by the principles of honesty and dedication, we strive to offer Sri Lankans affordable ‘peoples’
            vehicles’, while providing services that exceed their expectations.</p>
        </div>
        <div class="col-4 title">
          <h2 class="py-4 font-weight-bold">STERLING AFTERCARE GUARANTEE</h2>
          <p>The VMMS Aftercare Guarantee is issued by VMMS sri lanka for the vehicles that it imports to Sri Lanka.
            The vehicles that are exported to the Sri Lanka by VMMS are distributed through a network of more than 200
            auto dealers in the country.</p>
        </div>
      </div>
    </div>

  </div>
</div>
